body{
    background-color: #ff5353;
    
}
#fluid{
    background-color: #ff5353;
    margin: 0;
}
.logo-div{
    text-align: center; 
}
#logo{
    border: 0;
    padding: 0;
    width: 300px;
    height: 150px;
    margin-bottom: 20px; 
    margin-left: auto;
    margin-right: auto;
}
.navbar {
    text-align: center;
    margin-top: 20px; 
    margin-right: 0px;
}

.navbar ul {
    font-family: sans-serif;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    display: inline-block;
    margin: 0 50px;
    
}

.navbar a {
    text-decoration: none;
    color: rgb(247, 243, 221);
    font-weight: bolder;
    font-size: 18px;
}

  .icons{
    text-align: center;
    font-size: 30px;
}
.socials{
    margin: 0 50px;
    color: antiquewhite;
}

img{
    height: 400px;
    width: 350px;
    margin: 0px;
    border-radius: 30px;
}

p{
    font-size: 18px;
    color: #fff;
    background-color: #ff5353;
    padding: 10px;
    border-radius: 20px;
}

#contents{
    background-color: rgba(250, 235, 215, 0.772);
    padding: 40px;
    border-radius: 30px;
}

h1{
    text-align: center;
    color: #ff5353;
    font-size: 65px;
    font-family: 'Caveat', cursive;
    font-weight: bolder;
}
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0.2;
    transition: 2s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
}
  
  
